@charset "UTF-8";
/* Tudo que começa com @ no CSS é uma regra (fica sempre no início). Nesse caso é "compatibilidade com acentuação"*/

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: mediumblue;
    background-color: white;
}

h2 {
    color:red;
}

p {
    text-align: justify;
}

/*Método mais versátil e mais recomendado de todos*/