body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 30px;
}
iframe {
    width: 95vw;
    height: 500px;
    border: 2px solid black;
}